@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.home{
  min-height: 100vh;
  max-width: 100vw;
}

.grid-container {
  /* grid minmax mininum width 330px max 500*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.gamecube {
  background-image: url(/gamecube.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 300vh;
  height:300vh;
}

.wii {
  background-image: url(/wii.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 300vh;
  height:300vh;
}

.n64 {
  background-image: url(/n64.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 300vh;
  height:300vh;
}

.leaderboard {
  min-height: 100vh;
  max-width: 100vw;
}

.grid-header {
  grid-template-columns: 1fr 7fr 1fr;
}